# Server
HOST=#
PORT=#

# Secrets
APP_KEYS=#
API_TOKEN_SALT=#
ADMIN_JWT_SECRET=#
TRANSFER_TOKEN_SALT=#
ENCRYPTION_KEY=#

# Database (Supabase Session Pooler)
DATABASE_CLIENT=#
DATABASE_HOST=#
DATABASE_PORT=#
DATABASE_NAME=#
DATABASE_USERNAME=#
DATABASE_PASSWORD=#
DATABASE_SSL=#
DATABASE_SSL_REJECT_UNAUTHORIZED=#
JWT_SECRET=#

# Cloudflare
R2_ACCESS_KEY_ID=#
R2_SECRET_ACCESS_KEY=#